<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <title>Cars</title>
</head>
<body>
  <%- include('nav.ejs') %> 
  <h1>Choose Columns to Display</h1>
  <form method="POST" action="/cars">
    <label><input type="checkbox" name="columns" value="id" <%= columns.includes('id') ? 'checked' : '' %>> ID</label>
    <label><input type="checkbox" name="columns" value="name" <%= columns.includes('name') ? 'checked' : '' %>> Brand Name</label>
    <label><input type="checkbox" name="columns" value="founded" <%= columns.includes('founded') ? 'checked' : '' %>> Founded Date</label>
    <label><input type="checkbox" name="columns" value="description" <%= columns.includes('description') ? 'checked' : '' %>> Description</label>
    <label><input type="checkbox" name="columns" value="age" <%= columns.includes('age') ? 'checked' : '' %>> Age</label>
    <label><input type="checkbox" name="columns" value="active" <%= columns.includes('active') ? 'checked' : '' %>> Active</label>
    <label><input type="checkbox" name="columns" value="logo" <%= columns.includes('logo') ? 'checked' : '' %>> Image URL</label>
    <label><input type="checkbox" name="columns" value="status" <%= columns.includes('status') ? 'checked' : '' %>> Status</label>
    <label><input type="checkbox" name="columns" value="tags" <%= columns.includes('tags') ? 'checked' : '' %>> Tags</label>
    <label><input type="checkbox" name="columns" value="country" <%= columns.includes('country') ? 'checked' : '' %>> Country</label>
    <button type="submit">Submit</button>
  </form>
  <form action="/cars" method="get">
    <input type="text" name="search" placeholder="Search...">
    <button type="submit">Search</button>
  </form>

  <h2>Cars List</h2>
  <table class="table">
    <thead>
      <tr>
        <% columns.forEach(column => { %>
          <th><%= column.charAt(0).toUpperCase() + column.slice(1) %></th>
        <% }) %>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(item => { %>
        <tr>
          <% columns.forEach(column => { %>
            <td>
              <% if (column === 'country') { %>
                <%= item.country ? item.country.name : '' %>
              <% } else if (column === 'tags') { %>
                <%= item.tags.join(', ') %>
              <% } else if (column === 'logo') { %>
                <img src="<%= item.logo %>" alt="<%= item.name %>" width="100">
              <% } else { %>
                <%= item[column] %>
              <% } %>
            </td>
          <% }) %>
          <td>
            <a href="/details/<%=item.name%>"> DETAILS </a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>