<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <title><%= country[0].name %> Information </title>
</head>
<body>
  <h1> <%= country[0].name %></h1>
  <img src="<%=  %>" alt="<%= %>">
  <p> CO2 Emissions: <%= country[0].co2_emissions %></p>
  <ul>
    <li>Capital: <%= country[0].capital %></li>
    <li>Population: <%= country[0].population %></li>
    <li>GDP/capita: <%= country[0].gdp_per_capita %></li>
  </ul>
  <a href="/cars"> BACK TO LIST </a>
</body>
</html>