<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <title><%= item.name %> details </title>
</head>
<body>
  <%- include('nav.ejs') %> 
  <h1><%= item.name %></h1>
  <img src="<%= item.imageURL %>" alt="<%= item.name %>">
  <p><%= item.description %></p>
  <ul>
    <li>Oprichting: <%= item.founded %> ( <%= item.age %> years ago)</li>
    <li>Active: <%= item.active %></li>
    <li>Status: <%= item.status %></li>
    <li> <a href="/country/<%=item.country.name%>"> Origine: <%= item.country.name %>  </a> </li>
  </ul>
  <a href="/cars"> BACK TO LIST </a>
</body>
</html>