<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <title><%= item.name %> details </title>
</head>
<body>
  <%- include('nav.ejs') %> 
  <h1> <%= item.id %>. <%= item.name %> </h1>
  <img src="<%= item.logo %>" alt="<%= item.name %>" width="240" height="240">
  <p> <%= item.description %> </p>
  <p> <a href="/country/<%=item.country.name%>"> Origine: <%= item.country.name %> (<%= item.country.capital %>)</a> </p>
  <br>
  <ul>
    <li> Oprichting: <%= item.founded %> (<%= item.age %> jaar oud) </li>
    <li> Operationeel: <%= item.active ? 'Ja' : 'Nee' %> </li>
    <li> Prestige: <%= item.status %> </li>
    <li> Categorie: <%= item.tags %> </li>
  </ul>
  <br>
  <a href="/cars" style="text-decoration: none; margin: 1%; font-size: larger; font-style: italic;">
    <img src="https://img.icons8.com/?size=16&id=1DQ3UxqezXN2&format=png">Terug naar collectie</a>
</body>
</html>